**/__pycache__/
**/temp/
# ignore all zip files
**.zip
# ignore development data 
**/.vscode/settings.json
**/__MACOSX/
**/UCI*/
**/.idea/
*.log
# poc data files
/contrib/end2end/poc/prometheus_data1/
/contrib/end2end/poc/prometheus_data2/
# ignore controller temp data
/controller/ux/static/plot.png
/controller/metadata_classification/data/few_shot_pretrained_model/
# ignore static site
site/
# ignore offline data
/contrib/fetch-offline-data/instana/demo-eu/