<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <title>Time Series Analysis</title>
</head>
<body>
    <!-- Include header -->
    {% include 'header.html' %}

    <div class="main_container">
        <h1>Signals Analysis and Visualization</h1>
        <h2>The current insights are:</h2>
        <p>{{ insights }}</p>
    </div>

    <!-- Include footer -->
    {% include 'footer.html' %}

</body>
</html>
