annotated-types==0.7.0
asttokens==2.4.1
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
ConfigArgParse==1.7
contourpy==1.2.1
cycler==0.12.1
dateparser==1.2.0
decorator==5.1.1
exceptiongroup==1.2.1
executing==2.0.1
Flask==3.0.3
fonttools==4.52.1
httmock==1.4.0
idna==3.7
iniconfig==2.0.0
ipython==8.24.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
llvmlite==0.42.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
packaging==24.0
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pillow==10.3.0
pluggy==1.5.0
prometheus-api-client==0.5.5
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
pyparsing==3.1.2
pytest==8.1.2
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
pytz==2020.5
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
requests-mock==1.12.1
scipy==1.13.1
six==1.16.0
stack-data==0.6.3
statsmodels==0.14.2
stumpy==1.12.0
threadpoolctl==3.5.0
tomli==2.0.1
tqdm==4.66.4
traitlets==5.14.3
tsfel==0.1.7
tsfresh==0.20.2
typing_extensions==4.12.0
tzdata==2022.7
tzlocal==5.2
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.3
numpy==1.26.4
numba==0.59.1
scikit-learn==1.5.0
transformers==4.36.2
torch==2.3.0
flasgger==0.9.7.1
pydoc-markdown==4.8.2
