tsfel~=0.1.4
tsfresh~=0.20.2
requests~=2.31.0
configargparse~=1.7
prometheus-api-client
pytest~=8.1.1
requests_mock
pandas==2.2.2
matplotlib~=3.8.4
Flask~=3.0.2
numpy~=1.26.4
scipy~=1.10.0
statsmodels~=0.14.1